<!DOCTYPE html>
<html>
<head>
    <title>My Message App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>My Message App</h1>

    <input id="message" type="text" placeholder="Enter a message">

    <button onclick="sendMessage()">Send</button>

    <p id="response"></p>

    <script>
        async function sendMessage() {

            const message = document.getElementById("message").value;

            const response = await fetch("/message", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    message: message
                })
            });

            const data = await response.json();

     const responseElement = document.getElementById("response");

responseElement.innerHTML = "";

const colors = [
    "red",
    "blue",
    "green",
    "purple",
    "orange"
];
for (let i = 0; i <17; i++) {
    const letter = document.createElement("span");

    letter.textContent = data.reply[i];
    letter.className = "letter";


    responseElement.appendChild(letter);
}
for (let i = 17; i < data.reply.length; i++) {
    const letter = document.createElement("span");

    letter.textContent = data.reply[i];
    letter.className = "letter";
    letter.style.color = colors[i % colors.length];

    responseElement.appendChild(letter);
}
        }
    </script>

</body>
</html>
